@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#FFF, #FFF)
}
.link-underline-black-footer {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.slide-from-left {
  transform: translateX(-100%);
  animation: slideLeft 1s forwards;
}

.slide-from-right {
  transform: translateX(100%);
  animation: slideRight 1s forwards;
}

@keyframes slideLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  to {
    transform: translateX(0);
  }
}
